<div class="col-md-12">
    <div id="posts" class="panel">
        <div class="panel-heading  text-black" ng-click="showPosts = !showPosts;">
            <h2>Posts:</h2>
        </div>
        <div class="panel-footer text-black" ng-show="showPosts">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="post in posts">
                    <h2 ng-click="navigate(post.id)">{{post.title}}</h2>
                    <i><h2>{{post.date  | date:'yyyy-MM-dd HH:mm:ss'}}</h2></i>
                    <span class="light-text ">{{post.description}}</span>
                    <br/>
                    <div class="btn-group" role="group">
                        <button type="button" ng-click="navigate(post.id)" class="btn btn-primary">Show</button>
                        <button type="button" class="btn btn-warning" ng-click="navigateEdit(post._id)">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removePost($index)">Remove</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="pages" class="panel">
        <div class="panel-heading  text-black" ng-click="showPages = !showPages;">
            <h2>Pages:</h2>
        </div>
        <div class="panel-footer text-black" ng-show="showPages">
            lorem ipsu
        </div>
    </div>
    <div id="comments" class="panel">
        <div class="panel-heading  text-black" ng-click="showComments = !showComments;">
            <h2>Comments:</h2>
        </div>
        <div class="panel-footer text-black" ng-show="showComments">
            lorem ipsu
        </div>
    </div>
    <div id="users" class="panel">
        <div class="panel-heading  text-black" ng-click="showUsers = !showUsers;">
            <h2>Users:</h2>
        </div>
        <div class="panel-footer text-black" ng-show="showUsers">
            lorem ipsu
        </div>
    </div>

</div>
