html {
    background-color: black;
    height: 100%
}

body {
    font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    /*background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.9) 100%), url("https://unsplash.com/photos/QE2QOZqxdr4/download");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    max-height: 900px;
    min-height: 900px;*/
}

.bcg-img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    display: block;
}

.bcg-img-ending {
    bottom: 0;
    height: 50px;
    width: 100%;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

h1,
h4 {
    text-shadow: black 0.1em 0.1em 0.2em
}

h2 {
    font-size: 25px!important;
}

.light-text {
    font-weight: 100;
}

.jumbotron {
    background-color: transparent;
}

body.white {
    background-color: white;
    color: #000000;
}

body.black {
    background-color: #000000;
    color: white;
}

.panel-body {
    color: black!important;
}

.gradient-top-black {
    width: 100%;
    height: 50px;
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&amp;1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(125, 185, 232, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */
}

.gradient-bottom-black {
    width: 100%;
    height: 50px;
    display: table-cell;
    vertical-align: bottom;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

.btn-transparent-white {
    background: transparent;
    border-color: white!important;
    color: white!important;
}

.btn-transparent-white:hover {
    background: transparent;
    border-color: white!important;
    color: white!important;
}

.btn-full-white {
    background: white!important;
    color: black!important;
    border-color: white!important;
}

.btn-full-white:hover {
    background: white!important;
    color: black!important;
    border-color: white!important;
}

#login-buttons {
    margin-top: 8px;
}

.login-link-text {
    color: #9D9D9C!important;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none!important;
    font-weight: 100;
}

.login-link-text:hover {
    color: white!important;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 100;
}

.navbar-brand,
{
    font-weight: 100!important;
}

.footer-white {
    background-color: white;
    color: black;
}

#login-buttons.login-buttons-dropdown-align-right,
#login-dropdown-list {
    left: auto;
    right: -1px;
}

#login-buttons .login-close-text {
    float: right;
}

.accounts-dialog {
    height: 100% font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

input {
    background-color: transparent!important;
}

.text-black {
    color: black!important;
}

.panel {
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: black 0.1em 0.1em 0.2em;
    border-width: 0;
}

.post-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.jumbotron {
    margin-bottom: 0!important;
}

.list-group-item-buttons {
    float: right;
    top: 0;
}

.text-black {
    color: black!important;
}

.text-white {
    color: white!important;
}

.text-wrap {
    overflow-wrap: break-word!important;
}
